body {
    font-family: Optima, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000; /* Set text color to black */
    background-color: #fff; /* Set background color to white */
}

header {
    background: #fff; /* Set header background to white */
    color: #000; /* Set header text color to black */
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000; /* Set navigation link color to black */
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
    padding: 1rem;
}

.main-text {
    width: 100%; /* Take full width */
    max-width: 800px; /* Set a maximum width */
    padding-bottom: 1rem; /* Add spacing below the text */
}

.main-image {
    width: 30%; /* Resize image to 30% of its parent container */
    height: auto;
    align-self: flex-end; /* Align the image to the end of the flex container */
    margin-left: auto; /* Move the image to the right */
}

.newsletter {
    width: 100%; /* Take full width */
    max-width: 800px; /* Set a maximum width */
    margin-top: 2rem;
}

.newsletter p {
    margin-bottom: 0.5rem;
}

.newsletter input[type="email"] {
    padding: 0.5rem;
    width: 70%;
    margin-right: 0.5rem;
}

.newsletter button {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #555;
}

footer {
    background: #fff; /* Set footer background to white */
    color: #000; /* Set footer text color to black */
    text-align: center;
    padding: 1rem;
}
